
*.lock

\.vs/RecyclameV2/v15/Server/sqlite3/storage\.ide

\.vs/RecyclameV2/v15/Server/sqlite3/storage\.ide-shm

*.ide-wal

RecyclameV2/obj/Debug/RecyclameV2\.csproj\.CoreCompileInputs\.cache

RecyclameV2/obj/Debug/RecyclameV2\.csproj\.FileListAbsolute\.txt

RecyclameV2/obj/Debug/RecyclameV2\.csproj\.GenerateResource\.cache

RecyclameV2/obj/Debug/RecyclameV2\.csprojAssemblyReference\.cache

RecyclameV2/bin/Debug/RecyclameV2\.exe

RecyclameV2/bin/Debug/RecyclameV2\.pdb

RecyclameV2/obj/Debug/RecyclameV2\.exe

RecyclameV2/obj/Debug/recyclamev2\.exe\.licenses

RecyclameV2/obj/Debug/RecyclameV2\.pdb

RecyclameV2/obj/Debug/TempPE/Properties\.Resources\.Designer\.cs\.dll
